@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&isplay=swap');

@import "_settings.scss";

@mixin text-margin($margin: auto) {
  text-align: center;
  margin: 0 $margin;
}

@mixin margin-center($margin-left: auto) {
  max-width: 1200px;
  margin: 0 $margin-left;
}

.fixed-header {
  width: 100%;
  background-color: $black-color;
  opacity: 0.95;

  position: fixed;
  top: 0;
  left: 0;
  z-index: $z-fixed;
}

.nav {
  @include text-margin(2rem);

  height: $header-height;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-logo {
    color: $white-color;
    font-size: $big-font-size;
    font-weight: $font-light;
  }

  &-menu {
    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  &-link {
    color: $white-color;
  }

  &-btn {
    background-color: $second-color;
    border-radius: 1rem;
    color: $white-color;
    padding: .375rem 1rem;
  }
}

@media screen and (min-width: 1200px) {
  .nav {
    @include margin-center(auto);
  }
}

.home {
  height: 900px;
  // margin-top: $header-height;
  background-color: $bg-color;
  
  padding-bottom: 3rem;

  &-content {
    @include margin-center(auto);
  }

  &-data {
    padding-top: 3.5rem;
    @include text-margin(2rem);
  }

  &-title {
    font-size: $biggest-font-size;
    font-weight: $font-regular;
  }

  &-description {
    font-size: $normal-font-size;
    font-weight: $font-light;

    // 使数字上标所在的行高度不会太高
    sup {
      position: relative;
      top: -0.5rem;
      vertical-align: baseline;
      font-size: 0.6em;
    }
  }

  &-img {
    display: flex;
    justify-content: center;
    padding-top: 5rem;
    
    img {
      width: 150px;
      height: 350px;
      margin-right: 1rem;
    }
  }
}

// animation
.airpod1 {
  animation: airpod1 3s infinite;

  @keyframes airpod1 {
    50% {
      transform: translateY(-6%)
    }
  }
}

.airpod2 {
  animation: airpod2 3s infinite;

  @keyframes airpod2 {
    50% {
      transform: translateY(6%)
    }
  }
}

@media screen and (min-width: 768px) {
  .nav {
    &-menu {
      margin-left: auto;
    }

    &-list {
      display: flex;
    }

    &-item {
      margin-right: 1.5rem;
    }
  }

  .home {
    height: 1600px;

    &-data {
      padding-top: 8rem;
    }

    &-title {
      font-size: $biggest-font-size;
      font-weight: $font-bold;
    }

    &-description {
      font-size: $big-font-size;
      font-weight: $font-light;
      line-height: 2rem;
    }

    &-img {

      img {
        object-fit: scale-down;
        width: 450px;
        height: 900px;
      }
    }
  }
}

