.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.model {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  user-select: none;
  &-content {
    background-color: #ffffff;
    border-radius: 27px;
    margin-bottom: 120px;
    overflow: hidden;
    
    &-title {
      width: 100%;
      text-align: center;
      color: #333333;
      font-weight: 500;
      white-space: nowrap;
      padding: 0 30px;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    &-info {
      width: 100%;
      padding: 38px 44px 40px;
      text-align: center;
      color: #777777;
    }
    &-footer {
      width: 100%;
      border-top: 1px solid #eaeaea;
      &-btn {
        width: 50%;
        height: 130px;
        text-align: center;
        font-weight: 500;
        cursor: pointer;
        font-family: PingFangSC-Medium, PingFang SC;
        color: #505050;
        & + & {
          color: #6150d4;
          border-left: 1px solid #eaeaea;
        }
      }
    }
  }
}

// content responsiveness
// 适配手机设备，最大宽 480px
@media screen and (max-width: 480px) {
  .model {
    &-content {
      width: 74vw;
      margin-bottom: 11.7vw;
      padding-top: 4.3vw;

      &-title {
        font-size: 4.7vw;
      }

      &-info {
        font-size: 4.1vw;
        padding: 3.7vw 4.3vw 3.9vw;
      }

      &-footer {
        height: 12vw;
        &-btn {
          font-size: 4.2vw;
          line-height: 12vw;
        }
      }
    }
    
  }
}

// 适配平板端，最小宽 481px
@media screen and (min-width: 481px) {
  .model {
    &-content {
      width: 42vw;
      margin-bottom: 9vw;
      padding-top: 3vw;

      &-title {
        font-size: 3.5vw;
      }

      &-info {
        font-size: 2.8vw;
        padding: 2.3vw 4.3vw 2.5vw;
      }

      &-footer {
        height: 8vw;
        &-btn {
          font-size: 3vw;
          line-height: 8vw;
        }
      }
    }
    
  }
}