*, *::before, *::after {
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
}

.resizable {
	background-color: antiquewhite;
	border: 2px dashed rgba(0, 0, 0, 0.5);
	border-right: 6px solid rgba(0, 0, 0, 0.6);
	margin: 10px;
  width: 500px;
}

.flex-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.box-item {
	background-color: lightpink;
	border: 1px solid deeppink;
	border-radius: 10px;
	/* flex-grow flex-shrink flex-basis  */
	flex: 0 0 120px;
	padding-top: 20px;
	margin: 6px;
}

.container2 {
	display: grid;
	grid-template-columns: minmax(150px, 25%) 1fr;
}

.sidebar {
	background-color: khaki;
	/* border: 1px dashed rgba(0, 0, 0, 0.5); */
}

.content2 {
	background-color: aquamarine;
}

.flex-container3 {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.header {
	background-color: lightpink;
	border: 1px dashed rgba(0, 0, 0, 0.5);
	flex-grow: 0;
	height: 80px;
	padding: 10px;
	text-align: center;
}

.main-container {
	border: 1px dashed rgba(0, 0, 0, 0.5);
	display: flex;
	flex-grow: 1;
	height: 140px;
}

.left-side {
	background-color: lightblue;
	flex-grow: 0;
	min-width: 100px;
}

.main-content {
	background-color: burlywood;
	flex: auto;
}

.right-side {
	background-color: lightyellow;
	flex-grow: 0;
	min-width: 100px;
}

.footer {
	background-color: lightyellow;
	border: 1px dashed rgba(0, 0, 0, 0.5);
	flex-grow: 0;
	height: 100px;
}

.container4 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	height: 100%;
}

.card-wrapper {
	background-color: lightyellow;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 10px;
}

.card-title {
	font-size: 1.5rem;
	font-weight: bold;
}

.card-info {
	margin: 10px 0px 10px 0px;
	min-height: 220px;
}

.image-container {
	background-color: cornflowerblue;
	min-width: 120px;
	min-height: 100px;
}