/* ===Base=== */
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: 'Martel Sans', sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: rgb(0,0,0,0.8)
}

/* Header */
.header-container {
  height: 30px;
  max-width: 1312px;
  padding: 0.1rem 1.2rem;
  border-left: none;
  border-right: none;
  margin: 0 auto;
  padding: 0 2rem;

  font-size: 0.8rem;
  font-weight: 400;

  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 200px;

}

.left-header {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  /* width: 400px; */
}

.sign-or-reg a {
  color: #0654ba;
  text-decoration: underline;
}

.left-header-helper {
  margin-left: 1rem;
}

.left-header-helper a {
  padding: 0.3rem 0.4rem;
}

.right-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 350px;
}

.drop-down-menu {
  padding: 0.3rem 0.4rem;
  cursor: pointer;
  color: rgb(0,0,0,0.8);

  display: flex;
  align-items: center;
}

.right-header>a {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1000px) {
  .right-header {
    width: 220px;
    flex-shrink: 0;
  }

  .right-header>div:first-of-type {
    display: none;
  }

  .left-header-helper>a:nth-child(2) {
    display: none;
  }
}

@media screen and (max-width: 780px) {
  .sign-or-reg>a:last-of-type {
    display: none;
  }
  .sign-or-reg>span:last-of-type {
    display: none;
  }
}

@media screen and (max-width: 670px) {
  .left-header-helper {
    display: none;
  }
}

section.main-body, footer {
  border: 1px solid #eee;
}

section .search-bar {
  max-width: 1312px;
  height: 60px;
  margin: 0 auto;
  padding: 0 0 4rem 0;
}

.nav-ul {
  display: flex;
  column-gap: 0.5rem;
  align-items: center;
  padding: 0 2rem;
}

.ebay-logo img {
  width: 117px;
}

nav.search-bar .shop-category {
  width: 80px;
  height: 43px;
  line-height: 1rem;
  cursor: pointer;

  display: flex;
  align-items: center;
}

nav.search-bar .category-txt {
  font-size: 0.8rem;
  color: #555;
}

nav.search-bar .category-txt:hover {
  color: #0654ba;
}

nav.search-bar .search-form {
  display: grid;
  flex-grow: 1;
  grid-template-columns: minmax(270px, auto) 170px 170px 70px;
}