/* ===Base=== */
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: 'Martel Sans', sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: rgb(0,0,0,0.8)
}

/* Header */
.header-container {
  height: 30px;
  max-width: 1312px;
  padding: 0.1rem 1.2rem;
  border-left: none;
  border-right: none;
  margin: 0 auto;
  padding: 0 2rem;

  font-size: 0.8rem;
  font-weight: 400;

  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 200px;

}

.left-header {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  /* width: 400px; */
}

.sign-or-reg a {
  color: #0654ba;
  text-decoration: underline;
}

.left-header-helper {
  margin-left: 1rem;
}

.left-header-helper a {
  padding: 0.3rem 0.4rem;
}

.right-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 350px;
}

.drop-down-menu {
  padding: 0.3rem 0.4rem;
  cursor: pointer;
  color: rgb(0,0,0,0.8);

  display: flex;
  align-items: center;
}

.right-header>a {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1000px) {
  .right-header {
    width: 220px;
    flex-shrink: 0;
  }

  .right-header>div:first-of-type {
    display: none;
  }

  .left-header-helper>a:nth-child(2) {
    display: none;
  }
}

@media screen and (max-width: 780px) {
  .sign-or-reg>a:last-of-type {
    display: none;
  }
  .sign-or-reg>span:last-of-type {
    display: none;
  }
}

@media screen and (max-width: 670px) {
  .left-header-helper {
    display: none;
  }
}

section.main-body, footer {
  border-top: 1px solid #eee;
  min-width: 570px;
}

section .search-bar {
  max-width: 1312px;
  height: 60px;
  margin: 0 auto;
  padding: 0 0 4rem 0;
}

.nav-ul {
  display: flex;
  column-gap: 0.5rem;
  align-items: center;
  padding: 0 2rem;
}

.ebay-logo img {
  width: 117px;
}

nav.search-bar .shop-category {
  width: 80px;
  height: 43px;
  line-height: 1rem;
  cursor: pointer;

  display: flex;
  align-items: center;
}

nav.search-bar .shop-category i {
  font-size: 1.4rem;
}

nav.search-bar .category-txt {
  font-size: 0.8rem;
  color: #555;
}

nav.search-bar .category-txt:hover {
  color: #0654ba;
}

nav.search-bar .search-form {
  display: grid;
  flex-grow: 1;
  grid-template-columns: minmax(270px, auto) 170px 170px 70px;
}

nav.search-bar .input-placeholder {
  position: relative;
}

nav.search-bar .input-placeholder input {
  width: 100%;
  font-size: 1rem;
  padding: 0.6rem 2.5rem;

  border: 2px solid black;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
}

nav.search-bar .input-placeholder input:focus {
  outline: none;
}

nav.search-bar .input-placeholder input:focus + .placeholder i {
  color: black;
}

nav.search-bar .input-placeholder input:focus + .placeholder span {
  color: transparent;
}

nav.search-bar .input-placeholder input:not(:focus) + .placeholder span {
  color: #767676;
  transition: .2s ease-in;
}

nav.search-bar .input-placeholder .placeholder {
  position: absolute;
  top: 0.5rem;
  left: 1rem;

  color: #767676;
  font-size: 0.9rem;

  display: flex;
  align-items: center;
  column-gap: 0.6rem;
  pointer-events: none;
}

nav.search-bar .input-placeholder .placeholder i {
  font-size: 1.3rem;
}

nav.search-bar .search-categories-container {
  position: relative;
}

nav.search-bar .search-categories-container i {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  color: #767676;

  /* 让 icon 不接受点击事件 */
  pointer-events: none;
}

nav.search-bar .search-categories {
  height: 100%;
  width: 100%;
  border: 2px solid black;
  border-left: 1px solid #c7c7c7;
  border-radius: 0;
  color: #767676;

  padding: 0 1rem;
  appearance:none;
  font-size: 0.8rem;
}

nav.search-bar .search-btn {
  margin-left: 0.3rem;
  background-color: #3665f3;
  color: white;
  border: none;
  cursor: pointer;
}

nav.search-bar .search-btn i {
  font-size: 1.8rem;
}

nav.search-bar .search-btn span {
  font-size: 0.9rem;
}

nav.search-bar .search-form a {
  padding: 0 0.5rem;
  margin: auto 0;
  color: #767676;
  font-size: 0.75rem;
}

@media screen and (max-width: 978px){
  nav.search-bar .search-form {
    grid-template-columns: minmax(270px, auto) 170px 170px;
  }

  nav.search-bar .search-form a {
    display: none;
  }
}

@media screen and (max-width: 875px){
  nav.search-bar .search-form {
    grid-template-columns: minmax(270px, auto) 170px 70px;
  }
}

@media screen and (max-width: 780px) {
  nav.search-bar .shop-category {
    display: none;
  }

  nav.search-bar .search-btn span {
    display: none;
  }
}

@media screen and (min-width: 781px) {
  nav.search-bar .search-btn i {
    display: none;
  }
}

section.main-body .nav-container {
  max-width: 1312px;
  height: 33px;
  border-top: 1px solid #ddd;

  margin: 0 auto;
  padding: 0 5rem;
}

section.main-body .nav-container .center-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* grid-column: 1.2rem; */
}

section.main-body .nav-container .center-nav .item a,
section.main-body .nav-container .center-nav .item i {
  font-size: 0.75rem;
  color: #555;
}

section.main-body .nav-container .center-nav .item a:hover {
  color: #0654BA;
  text-decoration: none;
}

section.main-body .nav-container .item a.active {
  font-weight: 700;
}

section.main-body .nav-container .item {
  position: relative;
}

section.main-body .nav-container .item a.active::before {
  content: "";
  height: 2px;
  width: 38px;
  background-color: #333;

  position: absolute;
  bottom: -0.1rem;
}

section.main-body .nav-container .center-nav .item-13 {
  display: none;
}

section.main-body .nav-container .center-nav .item-13 a {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1312px) {
  section.main-body .nav-container {
    display: grid;
    justify-content: space-around;
  }

  section.main-body .nav-container .center-nav {
    width: 1100px;
    column-gap: 1.5em;
  }
}

@media screen and (max-width: 1190px) {
  section.main-body .nav-container div.item:nth-last-of-type(-n+2) {
    display: none;
  }

  section.main-body .nav-container .center-nav .item-13 {
    display: flex;
  }
}

@media screen and (max-width: 1125px) {
  section.main-body .nav-container .center-nav {
    width: 1040px;
  }
  section.main-body .nav-container div.item:nth-last-of-type(-n+3) {
    display: none;
  }
}

@media screen and (max-width: 1080px) {
  section.main-body .nav-container .center-nav {
    width: 940px;
  }
  section.main-body .nav-container div.item:nth-last-of-type(-n+4) {
    display: none;
  }
}

@media screen and (max-width: 980px) {
  section.main-body .nav-container .center-nav {
    width: 840px;
  }
  section.main-body .nav-container div.item:nth-last-of-type(-n+5) {
    display: none;
  }
}

@media screen and (max-width: 880px) {
  section.main-body .nav-container .center-nav {
    width: 740px;
  }
  section.main-body .nav-container div.item:nth-last-of-type(-n+6) {
    display: none;
  }
}

@media screen and (max-width: 780px) {
  section.main-body .nav-container .center-nav {
    width: 640px;
  }
  section.main-body .nav-container div.item:nth-last-of-type(-n+7) {
    display: none;
  }
}

section.main-body .banner {
  max-width: 1312px;
  height: 400px;
  margin: 0 auto;

  transition: 0.5s;
}

section.main-body .banner .container {
  height: 100%;

  display: grid;
  grid-template-columns: 1fr 300px;
  grid-template-rows: 250px 1fr;
  grid-column-gap: 22px;
  grid-row-gap: 20px;
}

section.main-body .banner .parent {
  border: 1px solid #ddd;
  overflow: hidden;
}

section.main-body .banner .parent-1 {
  grid-row: span 2;
}

section.main-body .banner .child-1 {
  height: 100%;
  background-image: url("../images/ad1.png");
  background-size: cover;
  background-position: center;

  transition: 0.5s;
}

section.main-body .banner .child-2 {
  height: 100%;
  background-image: url("../images/ad2.png");
  background-size: cover;
  background-position: center;
}

section.main-body .banner .child-3 {
  height: 100%;
  background-image: url("../images/ad3.png");
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 1312px) {
  section.main-body .banner {
    padding: 0 50px;
  }
}

@media screen and (max-width: 1200px) {
  section.main-body .banner {
    padding: 0;
  }

  section.main-body .banner .container {
    height: 100%;
    grid-template-columns: 1fr;
  }

  section.main-body .banner .parent:nth-last-child(-n+2) {
    display: none;
  }

  section.main-body .banner .parent .child-1 {
    transform: scale(1.05);
  }
}

section.collections {
  max-width: 1312px;
  margin: 0 auto;
  padding-top: 2rem;
}

section.collections > h2 {
  font-weight: 200;
  color: #555;
}

section.collections .ad-container {
  border-top: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-column-gap: 45px;
}

section.collections .left-ad,
section.collections .right-ad {
  width: 585px;
  height: 600px;
  margin: 2rem 0;

  display: grid;
  grid-template-columns: 1fr 140px;
  grid-template-rows: repeat(3, 140px) 1fr;

  border: 1px solid #ddd;
}

section.collections .left-ad .main-photo,
section.collections .right-ad .main-photo {
  background-position: center;
  background-size: cover;

  grid-row: span 3;

  border-bottom: 1px solid #ddd;
}

section.collections .left-ad .thumbnail-container,
section.collections .right-ad .thumbnail-container {
  display: grid;
  grid-row: span 3;
}


section.collections .left-ad .big {
  background-image: url("../images/product1.jpg");
}

section.collections .right-ad .big {
  background-image: url("../images/product2.jpg");
}

section.collections .left-ad .pic,
section.collections .right-ad .pic {
  background-position: center;
  background-size: cover;
  border-bottom: 1px solid #ddd;
}

section.collections .left-ad .item-1 {
  background-image: url("../images/thumbnail1_1.jpg");
}

section.collections .left-ad .item-2 {
  background-image: url("../images/thumbnail1_2.jpg");
}

section.collections .left-ad .item-3 {
  background-image: url("../images/thumbnail1_3.png");
}

section.collections .right-ad .item-1 {
  background-image: url("../images/thumbnail2_1.jpg");
}

section.collections .right-ad .item-2 {
  background-image: url("../images/thumbnail2_2.jpg");
}

section.collections .right-ad .item-3 {
  background-image: url("../images/thumbnail2_3.jpg");
}

section.collections .description-container {
  display: grid;
  grid-column: span 2;
  grid-template-columns: 1fr 140px;
  grid-template-rows: 180px;
}

section.collections .description-container .description h2 {
  line-height: 1.5rem;
}

section.collections .description-container .description {
  padding: 0 1rem;
  overflow: hidden;
  /* text-overflow: ellipsis; */
}

section.collections .description-container .description p {
  line-height: 1.5rem;
  color: #555;
  text-align: justify;
}

section.collections .description-container .list-container {
  display: grid;
  grid-template-rows: repeat(3, 1fr);

  place-items: center;
}

section.collections .list-container .details {
  color: #333;
  font-weight: 700;
  font-size: 0.9rem;

  width: 100%;
  text-align: center;

  position: relative;
}

section.collections .list-container .details:nth-last-child(-n+2)::before {
  content: "";
  width: 90%;
  height: 1px;
  background-color: #ddd;

  position: absolute;
  top: -1rem;
  left: 10px;
}

section.collections .list-container .detail-3 a {
  color: #0654ba;
}

section.collections .list-container .detail-3 a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1200px) {
  section.collections .ad-container {
    flex-wrap: wrap;
    justify-content: center;
  }
}

section.card {
  max-width: 1312px;
  margin: 0 auto;
  align-items: center;
}

section.card .title {
  display: flex;
  align-items: center;
}

section.card .title h2 {
  font-weight: 200;
  color: #555;
}

section.card .title span {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  margin-left: 2rem;

  cursor: pointer;
}

section.card .title span i {
  font-size-adjust: 1.5rem;
}

section.card .container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 0 var(--card-container-padding2);
}

section.card a {
  display: flex;
  flex-direction: column;
}

section.card .card-pic {
  width: var(--card-pic-width);
  height: var(--card-pic-height);
  border-radius: 50%;

  background-size: cover;
  transition: .5s;
}

section.card .card-title {
  font-size: 0.9rem;
  text-align: center;
}

section.card .card-item-1 .card-pic {
  background-image: url("../images/098-1.png");
}

section.card .card-item-2 .card-pic {
  background-image: url("../images/098-2.png");
}

section.card .card-item-3 .card-pic {
  background-image: url("../images/098-3.png");
}

section.card .card-item-4 .card-pic {
  background-image: url("../images/098-4.png");
}

section.card .card-item-5 .card-pic {
  background-image: url("../images/098-5.png");
}

section.card .card-item-6 .card-pic {
  background-image: url("../images/098-6.png");
}

section.card .card-item-7 .card-pic {
  background-image: url("../images/098-7.png");
}

/* 父容器 hover 时，子元素产生动画效果的实现 */
section.card .card-item:hover > .card-pic {
  box-shadow: 0 0 2px black;
}

section.card .card-item:hover > .card-title {
  text-decoration: underline;
}

section.card .second-line.hidden {
  display: none;
}

:root {
  --card-width: 100vw;
  --card-container-padding2: 20px;
  
  --card-grid-gap: 20px;
  --card-pic-width: 150px;
  --card-pic-height: var(--card-pic-width);
}

@media screen and (max-width: 1312px) {
  section.card {
    width: var(--card-width);
    overflow: hidden;
  }
  section.card .container {
    grid-gap: var(--card-grid-gap);
  }

  /* card item 容器随 viewwidth 宽度变化而变化 */
  section.card .card-item {
    width: calc((var(--card-width) - var(--card-container-padding2) * 2 - var(--card-grid-gap) * 6) / 7);
  }

  section.card .card-pic {
    width: calc((var(--card-width) - var(--card-container-padding2) * 2 - var(--card-grid-gap) * 6) / 7) !important;
    height: calc((var(--card-width) - var(--card-container-padding2) * 2 - var(--card-grid-gap) * 6) / 7) !important;
  }
}

@media screen and (max-width: 800px) {
  section.card {
    --card-width: 98vw;
  }

  section.card .container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
    "a b c d"
    "second second second second"
  }

  section.card .card-item.hidden {
    display: none;
  }

  section.card .card-item-1 {
    grid-area: a;
  }
  section.card .card-item-2 {
    grid-area: b;
  }
  section.card .card-item-3 {
    grid-area: c;
  }
  section.card .card-item-4 {
    grid-area: d;
  }

  section.card .second-line {
    grid-area: second;
  }

  section.card .card-item {
    width: calc((var(--card-width) - var(--card-container-padding2) * 2 - var(--card-grid-gap) * 3) / 4);
  }

  section.card .card-pic {
    width: calc((var(--card-width) - var(--card-container-padding2) * 2 - var(--card-grid-gap) * 3) / 4) !important;
    height: calc((var(--card-width) - var(--card-container-padding2) * 2 - var(--card-grid-gap) * 3) / 4) !important;
  }

  section.card .second-line.hidden {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: var(--card-grid-gap);
    
    width: 78%;
    padding-left: calc((var(--card-width) - var(--card-container-padding2) * 2 - var(--card-grid-gap) * 3) / 4 / 2 + 12px);
  }
  
}

footer .container {
  max-width: 1312px;
  margin: 0 auto;

  display: flex;
  padding: 0 3rem;
  justify-content: flex-end;
}

footer .container p {
  color: #555;

}